body {
  background-color: mediumseagreen;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo__container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.todo__container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.todo__input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task__imput {
  /* flex: 1; */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.btn__add {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn__add:hover {
  background-color: #0056b3;
}

.task__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task__list li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

.remove__button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove__button:hover {
  background-color: #c82333;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.complete__button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #28ea7c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.complete__button:hover {
  background-color: #41dc84;
}
